* {
    margin: 0%;
    font-family: 'Open Sans';

}

/* ------------------------------
          common design  
--------------------------------- */

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    color: white;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;

}

.btn-contact {
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

.section-title {
    margin-top: 0;
}





/*------------------------------
         section   Header Navigation 
 --------------------------  */

.header {
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.nav-title {
    font-size: 35px;
    font-weight: 800px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}



/* --------------------------
             header banner 
----------------------- ---- */




.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

/* .cover-title {} */

.banner-title {
    /* margin: ; */
    font-size: 85px;
    font-weight: 700;

}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-discription {
    color: #757575;
    margin-bottom: 30px;
}

.cover-img {
    width: 500px;
    height: 676px;
}


/* --------------------
           main section
--------------------- */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section  */

.about {

    margin-top: 130px;
    padding: 100px 150px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;

}

.about-title {
    /* margin-top: 50px; */
    font-size: 35px;
    font-weight: 700;

}

.about-description {
    margin: 30px auto;

}

.about-info {
    display: flex;
    justify-content: space-around;

}

/* ---------------------------------
      "What I do"     skils about section 

----------------------------------*/

.skils-about {
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    padding: 100px;
    border-radius: 10px;


}

.skils-title {
    text-align: center;
}

.skils-sub-title {
    margin-top: 30px;
    text-align: center;
}


.skils-card {
    display: flex;
    gap: 30px;
    margin-top: 50px;

}

.card {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card-title {
    margin: 30px 0px;
}



/*------------------------------ 

       Resume section 

-----------------------------*/

.resume-container {
    display: flex;
    width: 800px;

    margin: 0 auto;
    padding: 100px;
}

.education {
    margin-right: 80px;
}

.blog {
    width: 400px;
    /* height: 200px; */
    margin-top: 60px;

}

.resume-title {
    text-align: center;
    font-size: 35px;
    margin-top: 150px;
}

.blog-titles {
    margin: 30px auto;
}

.download-cv {
    margin-bottom: 30px;
    text-align: center;
}



/* <!-------------------------------- 
    
    
form section 


-----------------------------------> */
.contact {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px;
}

.form-title,
.massage-form {
    align-items: center;
    font-size: 35px;
    font-weight: 700;
}

.form-sub-title {
    margin: 30px auto;
}

.social-icons{
    margin-right: 30px;
    text-decoration: none;
}


input {
    width: 461px;
    height: 64px;
    margin: 24px auto;
}

.textarea {
    width: 461px;
    height: 180px;
}